{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h2>{% trans 'Title' %}: {{ post.title }}</h2>
    <p>{% trans 'Author' %}: {{ post.author }}</p>
    <p>{% trans 'Text' %}: {{ post.text }}</p>
    <p>{% trans 'Add date' %}: {{ post.add_date }}</p><br>
    {% if request.user.is_authenticated and request.user == post_data.author %}
        <p><a href="/blog/edit/{{ post_data.id }}/">{% trans 'Edit' %}</a> <a href="/blog/delete/{{ post_data.id }}/">{% trans 'Delete' %}</a></p>
    {% endif %}<br>

    {% for comment in comments %}
        <p>{{ comment.author }}</p>
        <p>{{ comment.text }}</p>
        <p>{{ comment.add_comment_date }}</p><br>
    {% endfor %}

    {% if request.user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit">{% trans 'Save' %}</button>
        </form>
    {% endif %}
{% endblock %}